# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Node
node_modules/
frontend/dist/

# Database local
*.db
backups/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build local
backend/static/

# Outros
*.spec
build/
dist/
nul
